:root{
    --light-clr: #f1f1f1;
    --grey-clr: #7f8081;
    --green-clr: #71c047;
    --yellow-clr: #DEC71C;
    --green2-clr: #71c0478d;
    --yellow2-clr: #dec71c7c;
    --lightgreen-clr: #71c04724;
    --lightyellow-clr: #dec71c1d;
    --lightgray-clr: #EFF3F4;
}

*{
    padding: 0;
    margin: 0;
    margin-left: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    font-family: sans-serif;
}

p{
    color: var(--grey-clr);
    font-size: 1.3rem;
}

a{
    text-decoration: none !important;
    font-weight: 600 !important;
}

.feature-content ul {
    padding-left: 0;
}

.nav-item a{
    font-size: 1rem !important;
    padding-inline: 1rem !important;
    font-weight: 600;
    border-radius: 10px;
}

.navbar-brand img{
    width: 170px !important;
}

.nav-item a:hover{
    background: var(--light-clr);
    color: var(--green-clr);
}

.navbar-expand-md .navbar-collapse {
    flex-direction: column;
}

.text-bg{
    background: linear-gradient(90deg, var(--green-clr),var(--yellow-clr));
    background-size: cover;
    background-position: center;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
}

.hero-section{
    min-height: calc(100vh - 70px);
}

.btn-green{
    background: var(--green-clr) !important;
    border: 3px solid var(--green-clr) !important;
}

.btn{
    border: 1px solid var(--grey-clr) !important;
    height: auto;
}

.p-size{
    max-width: 42rem;
    text-align: center;
}

.h1-size{
    font-size: 4.9rem;
    font-weight: 700;
    text-align: center;
}
.h2-size{
    font-size: 4rem;
    font-weight: 700;
    text-align: center;
}


.feature-content .left{
    flex-basis: 40%;
}
.feature-content .left p{
    margin-bottom: 0;
}

.feature-content .right{
    flex-basis: 60%;
}
.feature-content .right img{
    width: 100%;
    height: 514.312px;
    object-fit: cover;
}
.feature-link:hover{
    background: linear-gradient(40deg, var(--green2-clr),var(--yellow2-clr));
    border-radius: 20px 0 0 20px;
}
.none{
    display: none !important;
}

.bg-lg{
    border-radius: 20px 0 0 20px;
    background: linear-gradient(40deg, var(--lightgreen-clr),var(--lightyellow-clr));
}
.bg-gradient-c {
    background: linear-gradient(90deg, var(--lightgray-clr), var(--lightyellow-clr)) !important;
  }

  .card-1{
    margin-top: 3rem !important;
  }
  .card-3{
    margin-top: 2rem !important;
  }
  
  .shadow-light {
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.12) !important;
  }
  
  .h-fit {
    height: fit-content;
  }
  
  .font-urbanist {
    font-family: 'Urbanist', sans-serif;
  }
  
  .font-black {
    font-weight: 700;
  }
  
  .overflow-hidden {
    overflow: hidden;
  }
  
  .rounded-b-xl {
    border-bottom-left-radius: 0.75rem !important;
    border-bottom-right-radius: 0.75rem !important;
  }
  
  .card {
    transition: transform 0.3s ease;
  }
  
  .card:hover {
    transform: translateY(-20px);
  }
  
@media (min-width:1200px){
    .feature-content .right img{
        height: 100%;
    }
}

@media (max-width:940px){
    .feature-link p{
        font-size: 0.8rem;
    }
    .feature-content .right img{
        height: 370px;
    }
}


@media (max-width:768px) {
    .h1-size{
        font-size: 3.4rem;
        font-weight: 700;
    }
    .h2-size{
        font-size: 3rem;
    }
    .hero-section{
        min-height: calc(70vh - 70px);
    }
    .benefit-item{
        grid-column: span 12;
    }
    .card-1{
        margin-top: 0rem !important;
      }
    .card-3{
        margin-top: 0rem !important;
      }
}

@media (max-width:640px) {
    .hero-section{
        min-height: calc(49vh - 70px);
    }
    .h1-size{
        font-size: 3rem;
        font-weight: 700;
    }
    p{
        font-size: 1rem;
    }
    .h2-size{
        font-size: 2.4rem;
    }
    .feature-link p{
        font-size: 0.6rem;
    }
}

